name: Publish release
on:
  release:
    types: [created]
jobs:
  release-js:
    name: 'jsbt v0.4.5' # Should match commit below
    uses: paulmillr/jsbt/.github/workflows/release.yml@6f77fad606c82a054b4d4b9b51c350138c67480d
    permissions:
      contents: read
      id-token: write
