name: Publish release
on:
  release:
    types: [created]
jobs:
  release-js:
    name: 'jsbt v0.4.5' # Should match commit below
    uses: paulmillr/jsbt/.github/workflows/release.yml@9c650797826f940464e8984edd02ad9d092de5e3
    permissions:
      contents: read
      id-token: write
