name: Publish release
on:
  release:
    types: [created]
jobs:
  release-js:
    name: 'jsbt v0.4.5' # Should match commit below
    uses: paulmillr/jsbt/.github/workflows/release.yml@764d094b79f3d898b1feb2ae932c5f9be34bf9de
    permissions:
      id-token: write
