name: Publish release
on:
  release:
    types: [created]
jobs:
  release-js:
    name: 'jsbt v0.4.5' # Should match commit below
    uses: paulmillr/jsbt/.github/workflows/release.yml@4f2ea9e7a569f76aa10dec67c23b9ed1049a47dc
    permissions:
      contents: read
      id-token: write
