name: Run tests
on:
  - push
  - pull_request
jobs:
  test-js:
    name: 'jsbt v0.4.5' # Should match commit below
    uses: paulmillr/jsbt/.github/workflows/test-js.yml@6c408662e363f178f47ea26fd671cb16891b64ad
