name: Run tests
on:
  - push
  - pull_request
jobs:
  test-js:
    name: 'jsbt v0.4.5' # Should match commit below
    uses: paulmillr/jsbt/.github/workflows/test-js.yml@79ad70ab35b88a8b73fee729d6536de0932fd0fa
